body{margin: 0;background-color: #CCC5B9;}
/* starting header */
.header{background-color: #3A0E0E;height: 80px;}
.header img{float:left;}
.navBar
{
    display: inline-block;
    margin-top: 20px;
    float: left ;   
}
.navBar a {
    font-size: 18px;
    font-family: "Comic Sans MS";
    color: #CCC5B9 ;
    text-decoration: none ;
    float: left ;
}
.navBar ul li{display: inline-block;padding-left: 40px;}
.header .accounts {
    left: 1100px ;
    top: 40px ; 
    font-size: medium ;
    position: absolute;
}
.header .accounts a , span{text-decoration: none;color: #CCC5B9;}
.header .serach {right:10px;position: absolute;}
.header .serachText{
    width: 150px;
    height: 2px;
    margin: 3px;
    padding: 10px;
}
.header .searchBottom {width:55px;height:23px;}
/* ending header */

/* stating body */ 
 /*start booking*/
.booking .flight{
    margin:40px 50px 40px 180px;
}
.booking .flight .From ,
.booking .flight .To,
.booking .flight .Arrival,
.booking .flight .Depature,
.booking .flight .Class,
.booking .flight .submit
{
    display: inline-block;
    color: #3A0E0E;
}
.booking .flight .submit input{
    background-color: #3A0E0E;
    color:white;
    border: none ;
}
.booking .flight input,
.booking .flight select{
    width:300px;
    height:40px ;
    margin:10px;
}
.booking hr{
    width:1200px;
}
.booking .info{
    margin:50px 190px;
}
.booking .info .f1{
    float: left;
    width:65%;
    margin: auto;
    color: #3A0E0E;
}
.booking .info .f2{
    margin: auto;
    color: #3A0E0E;
}
.booking .info .img{
    float: left;
    height: 220px;
    width:35%;
    margin-top:10px;
    color: #3A0E0E;
}
.booking .info input,
.booking .info select {
    height:40px ;
    margin:5px;
    color: #3A0E0E;
}
.booking .info  .lab{
    width:90px;
    display: inline-block;
    color: #3A0E0E;
}

/* ending body */

/* starting footer */
.footar{
    margin: 0 ;
    width: 100%;
    height: 150px;
    font-family: "Comic Sans MS";
    position: relative;
    color: #CCC5B9;
    background: #3A0E0E;
}
.footarLogo {width: 25%;position: absolute;}
.footarAbout {position: absolute;width: 25%;left: 25% ;}
.footarTags {position: absolute;width: 25%;left: 50% ;}
.footarConnect {position: absolute;width: 25%;left: 75% ;}
.footarConnect a {color:#CCC5B9;}
.footarConnect p {position: absolute;left: 40px; top: 90px;}
/* ending footer */